<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>p5.js</title>
    <meta name="description" content="p5.js on Glitch">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/p5.min.js"></script> 
    <script src="/p5.dom.js"></script>
    <script src="/p5.sound.js"></script>
    <style>
      html, body {
  height: 100%;
  overflow: hidden;
}
      form{
        font-family:sans-serif;
        border-radius:10px;
        opacity:1;
/*         position:fixed;
        top:20px;
        left:20px; */
        line-height:12px;
        width:100px;
        background-color:rgba(245,245,245,1);
        padding:5px;
        text-align:center;
        vertical-align:middle;
      }
      button{
        margin:0px auto;
      }
      /*input[type="color"] {
        -webkit-appearance: none;
        border: none;
        width: 12px;
        height: 12px;
        border-radius:50%;
      }
      input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
      }
      input[type="color"]::-webkit-color-swatch {
        border: none;
        border-radius:50%;
      }*/
    </style>
  </head>
  <body onload="showe()">
    <form style="" onclick="blackDot()">
      <input type="color" id="userColor" onclick="blackDot()" value="#ff0000" style="">
      <button type="button" onclick="setPenRandom()">Random</button>
      <button type="button" id="ebutton" onclick="whiteout()">Erase</button><button type="button" style="display:none;" id="obutton" onclick="oof()">Erase</button>
    </form>
    <center><div id="canvasContainer" onmouseup="mouseUp()"></div></center>
<!--     <div class="glitchButton" style="position:fixed;top:20px;right:20px;opacity:0.2;"></div>  
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script> -->
    
    
  </body>
  <script>
    var pollInterval = 2000;
    var gameData = [];
    var newServerData = [];
    var newLocalData = [];
    var colorInput = document.getElementById("userColor");
    var penColor = colorInput.value;
    var paintbg = false;
    var lastDot;
    
    // when user changes colorInput, update penColor
    colorInput.addEventListener("input", function() {
      penColor = colorInput.value;
    }, false);
    
    function getRandomColor() {
      var letters = '00000111122233456789abccdddeeeefffff';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * letters.length)];
      }
      return color;
    }
    function setPenRandom(){
      colorInput.value = getRandomColor();
      penColor = colorInput.value;
      blackDot();
    }
    function blackDot(){
      newLocalData.push(
          {x:-999,y:-999,color:"#000000"}
        );
    }
    var e = 1000;
    setPenRandom();
    

    
    // P5 code
    /* global createCanvas, mouseIsPressed, fill, mouseX, mouseY, ellipse */
    //var pencolor = document.getElementById("userColor").value;
    function setup() {
      var myCanvas = createCanvas(windowWidth-20,windowHeight-20);
      myCanvas.parent("canvasContainer");
      noStroke();
      lastDot = {x:-999,y:-999,color:"#000000"};
    }

    function draw() {
      if(newServerData.length>0)
        newServerData.reverse();
      for (var i=newServerData.length-1;i>=0;i--){
        // newServerData[i].color;
        // console.log(lastDot.hasOwnProperty('color'));
        // lastDot.color;
        //if(newServerData[i].color == lastDot.color && dist(lastDot.x,lastDot.y,newServerData[i].x, newServerData[i].y)<50){
        if(newServerData[i].color == lastDot.color){
          strokeWeight(7);
          stroke(newServerData[i].color);
          line(lastDot.x,lastDot.y,newServerData[i].x, newServerData[i].y);
        }
        fill(newServerData[i].color);
        noStroke();
        ellipse(newServerData[i].x, newServerData[i].y, 7, 7);
        lastDot = newServerData[i];
        gameData.push(newServerData.pop());
        
      }
      if (mouseIsPressed && mouseY>0) {
        if (newLocalData.length > 0)
          lastDot = newLocalData[newLocalData.length-1];
        newLocalData.push(
          {color: penColor.toString(), x: mouseX, y: mouseY}
        );
        // console.log(newLocalData[newLocalData.length-1].hasOwnProperty('color'));
        // newLocalData[newLocalData.length-1].color;
        //if(newLocalData[newLocalData.length-1].color == lastDot.color && dist(lastDot.x,lastDot.y,newLocalData[newLocalData.length-1].x, newLocalData[newLocalData.length-1].y)<50){
        if(newLocalData[newLocalData.length-1].color == lastDot.color){
          strokeWeight(7);
          stroke(newLocalData[newLocalData.length-1].color);
          line(lastDot.x,lastDot.y,newLocalData[newLocalData.length-1].x, newLocalData[newLocalData.length-1].y);
        }
        fill(penColor);
        noStroke();
        ellipse(mouseX, mouseY, 7, 7);
      } else{
        lastDot = {x:-999,y:-999,color:"#000000"};
      }
      if (paintbg){
        background("white");
        paintbg = false;
      }
    }

   
    
    
    // server stuff
    
    //get our game data from the server
  
    // first we create a function to call when we request and get data
    const gameRequestListener = function() {
      // 5. set our status to yes or no based on if there are updates for  each day so far
      newServerData = JSON.parse(this.responseText);
      console.log(gameData);
    }

    // then we make a request to our server for the data. when successful, the
    // above gameRequestListener will be called!
    const gameRequest = new XMLHttpRequest();
    gameRequest.addEventListener('load', gameRequestListener);
    gameRequest.open('get', '/game-data', true);
    gameRequest.send();
    
    
    function isEquivalent(a, b) {
      var aProps = Object.getOwnPropertyNames(a);
      var bProps = Object.getOwnPropertyNames(b);
      // if (aProps.length != bProps.length) {
      //     return false;
      // }
      for (var i = 0; i < aProps.length; i++) {
          var propName = aProps[i];
          if (a[propName] !== b[propName]) {
            // console.log("fail");
            // console.log(a[propName]);
            // console.log(b[propName]);
              return false;
          }
      }
      return true;
    }
    Array.prototype.unique = function() {
        var a = this.concat();
        for(var i=0; i<a.length; ++i) {
            for(var j=i+1; j<a.length; ++j) {
                if(isEquivalent(a[i],a[j]))
                    a.splice(j--, 1);
            }
        }
        return a;
    };
    function mouseUp(){
      newLocalData.push(
          {x:-999,y:-999,color:"#000000"}
        );
      newLocalData=newLocalData.unique();
      $.ajax({
						type: 'POST',
						data: JSON.stringify(newLocalData),
				    contentType: 'application/json',
            url: '/',						
            success: function(responseText) {
              console.log('ajax post success');
              console.log(responseText);
              //gameData = JSON.parse(responseText);
              newServerData = responseText.slice(gameData.length);
              newLocalData.length = 0;
            }
      });
    }
    function whiteout(){
      document.getElementById("ebutton").style.display="none";
      document.getElementById("obutton").style.display="block";
      setTimeout(showe,e);
      gameData.length=0;
      // for(var i=gameData.length-1;i>=0;i--){
      //   gameData.pop(i);
      // }
      paintbg = true;
      newLocalData.push(
          {x:-999,y:-999,color:"#000000"}
        );
      $.ajax({
						type: 'POST',
						data: JSON.stringify("reset"),
				    contentType: 'application/json',
            url: '/',						
            success: function(responseText) {
              console.log('whitout success');
              console.log(responseText);
              //gameData = JSON.parse(responseText);
              newServerData = responseText.slice(gameData.length);
            }
      });
    }
    function showe() {
      document.getElementById("obutton").style.display="none";
      document.getElementById("ebutton").style.display="block";
    }
    function oof(){e+=e;if(e>8000)alert("🛑✋👮🚦🚸⛔")}
    
    
    
    // ajax polling 
  $(function poll() {
    setTimeout(function() {
      if(mouseIsPressed){
        setTimeout(poll,pollInterval);
        return;
      }
      console.log("polling");
        $.ajax({
            url: "/game-data",
            type: "GET",
            success: function(responseText) {
              // console.log("polling success");
              console.log(responseText);
              console.log(gameData);
              // console.log(arraysEqual(responseText,gameData));
              if (responseText.length == gameData.length) {
                console.log("no polling update");
              } else if(responseText.length < gameData.length){
                gameData.length=0;
                newLocalData.length=0;
                // for(var i=gameData.length-1;i>=0;i--){
                //   gameData.pop(i);
                // }
                paintbg = true;
              } else {
                console.log("YES polling update");
                newServerData = responseText.slice(gameData.length);
              }
            },
            dataType: "json",
            complete: poll,
            timeout: pollInterval*0.9
        })
    }, pollInterval);
  });
  
    
  // arrays equal
  // function arraysEqual(a, b) {
  //   if (a === b) return true;
  //   if (a == null || b == null) return false;
  //   if (a.length != b.length) return false;
  //   for (var i = 0; i < a.length; ++i) {
  //     if (!isEquivalent(a[i],b[i])) return false;
  //   }
  //   return true;
  // }
  // function isEquivalent(a, b) {
  //     var aProps = Object.getOwnPropertyNames(a);
  //     var bProps = Object.getOwnPropertyNames(b);
  //     // if (aProps.length != bProps.length) {
  //     //     return false;
  //     // }
  //     for (var i = 0; i < aProps.length; i++) {
  //         var propName = aProps[i];
  //         if (a[propName] !== b[propName]) {
  //           console.log("fail");
  //           console.log(a[propName]);
  //           console.log(b[propName]);
  //             return false;
  //         }
  //     }
  //     return true;
  // }
  </script>
</html>
